<div class="card-outer-wrapper p-3 background-secondary solid-main-border">
    <div class="m-3 p-3 solid-main-border background-white">
        <div class="d-flex justify-content-center">
            <img class="hero-image" [src]="details.image" />
        </div>
        <div class="main-info font-size-larger">
            <div class="my-3">
                <span class="font-weight-bold">Name: </span>
                <span>{{details.name}}</span>
            </div>
            <div class="my-3">
                <span class="font-weight-bold">Description: </span>
                <span>{{details.description}}</span>
            </div>
            <div class="my-3">
                <span class="font-weight-bold">Powers: </span>
                <span>{{details.powers}}</span>
            </div>
        </div>
    </div>
</div>